
$shl_Grey: #5B6770;
$speedFact: 1;

$cardWidth: 218px;
$cardHeight: 122px;
$gridGap: 16px;
$menuHeight: 560px;
$cardCollapsSpeed: 1s;

@keyframes intro {
        
        from {transform: rotate(20deg) scale(4); top: 1200px; opacity: 1; }
        to {transform: rotate(0) scale(1.5); top: -$cardHeight/2 + 200px; opacity: 1; }
    }

@keyframes awsomeTitle {
    from { transform: scale(1.3); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}
    
    @keyframes resize {
        from {transform: scale(1.5);}
        to {transform: scale(1);}
    }
    @keyframes resizeSVG {
        from {transform: scale(0.3); opacity: 1;}
        to {transform: scale(1); opacity: 1;}
    }

body {
    font-family: sans-serif;
    background: darkgray;
    
    #cardTemplates {
        display: none;
    }
    
    main{
        height: 920px;
        max-height: inherit;
        width: 1920px;
        max-width: inherit;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color:white;
        padding: 1em;
        overflow-y: hidden;
        

        
        #popUpPanel{
            transition: bottom 1s;
            position: absolute;
            bottom: -$menuHeight;
            left: 0;
            border: 1px solid $shl_Grey;
            z-index: 20;
            width: 100%;
            height: $menuHeight;
            background: white;
            &:hover{
                bottom:0;
                &::before{
                    content: "X";
                }
                #sortResults{
                    display: grid;
                    grid-template-columns: 140px 240px;
                    border: 1px solid $shl_Grey;
                }    
            }
            
            
            &::before{
                content: ">>";
                text-align: center;
                line-height: 36px;
                position:absolute;
                display: block;
                top: -50px;
                color: #fff;
                font-size: 26px;
                width: 300px;
                height:50px;
                background: $shl_Grey;
                background-size: 100%;
            }
            
            > *{
                margin: 0.5em 0;
            }
            
            h3{
                grid-column-start: 1;
                grid-column-end: 3;
                margin-bottom: 0.2em;
            }
            h4{
                text-align: right;
                font-size: 1em;
                font-weight: 500;
                padding-right: 30px;
            }
            h5{
                font-size: 1em;
                font-weight: 200;
            }
            ul{
                padding-left: 1em;
                li{
                    margin-bottom: 0.6em;
                    .compTitle{
                        font-weight: 500;
                    }
                    .compRef{
                        font-weight: 200;
                    }
                }
            }
        }
        
        h1{
            font-size: 1.6em;
            margin: 0;    
        }  
        
        #origin{
            position: relative;
            width: 0;
            height: 0;
            top: 48%;
            left: 50%;
            
            #intro{
                position: absolute;
                width: 720px;
                left: -360px;
                top: -240px;
                text-align: center;
                transition: opacity 1.2s * $speedFact;
                
                h1{
                    color: $shl_Grey;
                }

                h1, span {
                   color: $shl_Grey;
                    opacity: 0;
                    animation: 2.5s * $speedFact ease-out 1 forwards awsomeTitle;
                }
                
                span:nth-child(1){
                    animation-delay: 2s * $speedFact;
                }
                
                span:nth-child(2){
                    animation-delay: 3s * $speedFact
                }
                
            }
            
            #UCF_deck{
                position: absolute;
                top: -200px;
                left:-200px;
                
                // The #UCF element denotes the root UCF card - UCF branding
                #UCF{
                    //------ The Opacity set to zero Intatly to aviod the uformated flash
                    opacity: 0;
                    animation: 0.85s * $speedFact cubic-bezier(.13,.68,.33,1) 4.5s * $speedFact 1 normal forwards intro;
                    animation-delay: 4s * $speedFact;
                    cursor: pointer;
    
                    img{
//                        height: $cardWidth;
//                        width: $cardWidth;
                    }
                    
                    &.cardBlock button{
                        position: absolute;
                        bottom: 2em;
                    }
                    
                    &.initalSize{
                        opacity: 1;
                        transition: opacity 1s * $speedFact;
                        animation: 0.7s* $speedFact ease-in-out 0s 1 normal forwards resize;
                            & + svg{
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                   &.nextStep{
                        opacity: 0;
                        & + svg{
                            transform: scale(0.3);
                            opacity: 0;
                        }
                       display: none;
                    }
                }
                
                //Transitions Section
                svg#sortChoose{
                    z-index: -1;
                    transform: scale(0.3);
                    transition: all 0.7s * $speedFact;
                    opacity:0;
                    .sortTypeHead{
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-anchor: middle;
                        font-weight: 600;
                        color: $shl_Grey;
                        &.active{
                            letter-spacing: 0.14em;
                        }
                    }
                    .sortTypeLable{
                        font-size: 1.02em;  
                    }
                    .sortType{
                        g g {
                            cursor: pointer;
                            circle{
                                transition: fill 0.3s * $speedFact;
                                fill: #78D64B;
                                
                                &.over{
                                    fill: #5B6770;
                                }
                            }
                        }
                    } 
                }
                
                .factorCard{
                    z-index: 1; 
                }
                
                #UCF_SortCards, #UCF_CompCards{
                    
                    &.startHidden{
                         display: none;
                    }
                }
                
                #UCF_CompCards{
                    .dimentionCard{
                        cursor: pointer;
//                        border: 4px solid red;
                    }
                    .zoomUp{
                        transform: scale(2);
                    }
                }
                   
                .cardBlock {
                    width: $cardWidth;
                    height: $cardHeight;
                    position: absolute;
                    top: -$cardHeight/2 + 200px;
                    right: -$cardWidth/2 + 200px;
                    transition: height 1s * $speedFact;
                    //box-shadow: 8px 15px 39px -6px rgba(148,155,161,0.65);

                    
                    &.sortCard {
                         // transitions
                       transition-property: top, right;
                        transition-duration: 1s * $speedFact, 0.6s * $speedFact;
                        transition-delay:0s, 0.7s * $speedFact;
                    }
                    &.factorCard, &.dimentionCard{
                        transition-property: right, top;
                        transition-duration: 1.2s * $speedFact, 0.6s * $speedFact;
                        transition-delay: 1.5s * $speedFact, 2.5s * $speedFact;
                        &.aniOff{
                            transition-property: height;
                            transition-duration: $cardCollapsSpeed * $speedFact;
                            transition-delay: 0s !important;
                            height: 28px;
                        }
                        &.dragging{
                            
                            
                        }
                    }

                    div{
                        position: absolute;
                        .title {
                            font-size: 0.8em;
                            margin: 0.67em 0;
                        }

                        >*{
                            padding: 0 0.6em;
                        }
                        
                        .cardCtrl {
                            padding: 0;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            z-index: 10;
                            right: 2px;
                            top: 0;
                            &:hover {
                                #menuIcon #enCircle circle{
                                    fill: rgba(255,255,255,0.3);
                                }
                                .menu{
                                    display: block;
                                    right: 6px;
                                }
                            }
                            .menu{
                                position: absolute;
                                right: -86px;
                                top:28px;
                                z-index: 20;
                                display: block;
                                width: 80px;
                                background: rgba(255,255,255,0.8);
                                padding: 8px 0;
                                margin: 0;
                                display: none;
                                border: 1px solid #666;
                                &:hover {
                                    display: block;
                                    right: 6px;
                                }
                                    li{
                                        display: block;
                                        font-size: 0.8em;
                                        padding: 4px 8px;
                                        &:hover{
                                            background: pink;  
                                        }
                                    }
                                }
                            #menuIcon{
                                height: 100%;
                                width: 100%;
                                #enCircle {
                                    circle{
                                        fill:transparent;    
                                    }
                                }
                                #iconFigure{
                                    circle{
                                        fill:#fff;
                                    }
                                }   
                            }
                            
                            article {
                                position: absolute;
                                z-index: 10;
                                top: 0;
                                color: #fff;
                                padding: 0.3em 0.6em;
                                &.reset{
                                    right:0;
                                }
                                &.zoom{
                                    right: 2em;
                                }
                            }
                        }

                        &.factorColfill{
                            width: 100%;
                            h3{
                                color: #fff;
                                font-size: 0.7em
                            }
                        }
                        &.cardBodyText{
                            height: auto;
                            overflow: hidden;
                            transition: height $cardCollapsSpeed * $speedFact;
                            &.selected{
                                height: 0;
                                
                            }

                            p.description{
                                margin: 0.6em 0;
                                font-size: 0.6em;
                            }
                            footer{
                                position: absolute;
                                width: $cardWidth - 12px;
                                display: flex;
                                justify-content:space-between;
                                height: 2em;
                                font-size: 0.6em;
                                p.index{width: 14px; }
                                p.cardRef{ width: 14px; text-align: right;}
                                p.sortType{ width: 200px; text-align: center;}
                            }
                        }
                    }

                    &.sortCard, &.factorCard, &.dimentionCard{
                        border: 1px solid #000; 
                        border-radius: 3px;
                        background: transparent;
                    }

                    // HTML Card css test

                    &.sortCard{
                        .factorColfill{
                            background: #aaa;

                            .text_1, .text_2{
                                text-align: center;

                            }
                            .text_1{
                                 margin: 3em 0 0; 
                            }
                            .text_2{
                                 margin: 2.4em 0 0; 
                            }
                            .vals{
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                left: -$gridGap/2;
                                > *{
                                    //flex-basis: auto;
                                    margin: 0.6em 0;
                                    padding: 0 0.4em;
                                }
                            }
                        }
                         .conjunc{
                            display: none;
                             width: 10px;
                             padding: 0;
                             font-weight: 200;
                        }
                        .reciver{
                             padding: 0;
                            margin: 0;
                            position: relative;
                            width: $cardWidth;
                            height: 100%;
                            background: transparent;
                        .cardBlock{
                            padding: 0;
                            margin: 0;
                            position: relative;
                            top:  $cardHeight;
                            left: -1px;
                            }
                        }
                    }

                    &.factorCard, &.sortCard{
                        .factorColfill{
                            height: $cardHeight;
                        }

                        >.cardBodyText{
                            top: 1.5em;
                            color: #fff;
                            height: $cardHeight - 28px;
                        }
                        footer {
                             bottom: 0;
                        }
                    }

                    &.dimentionCard{

                        .factorColfill{
                            height: 1.8em;
                        }
                       .cardBodyText{
                           background: #fff;
                           top: 1.8em;
                           height: $cardHeight - 29px;
                        }
                          footer {
                             bottom: 4px;
                        }
                    }
                    
                }
            }
        }
        
        
        #dropZones {
            
            artical {
                width: $cardWidth;
                height: $cardHeight;
                border: 1px solid #000; 
            }
            #sortArea{
                artical {
                    position: absolute;
                    top: 200px;
                }
                #sa1{
                     left: $cardWidth;
                }
                #sa2{
                     left: $cardWidth * 2;
                }
                #sa3{
                     left: $cardWidth * 3;
                }
            }
            #cardArea{
                position: absolute;
                top: 400px;
                artical {
                    float:left;
                }
            }    
        }
    }
}

