@keyframes intro {
  from {
    transform: rotate(20deg) scale(4);
    top: 1200px;
    opacity: 1;
  }
  to {
    transform: rotate(0) scale(1.5);
    top: 139px;
    opacity: 1;
  }
}
@keyframes resize {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes resizeSVG {
  from {
    transform: scale(0.3);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  height: 100%;
  font-family: sans-serif;
}
body #cardTemplates {
  display: none;
}
body #workArea {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: antiquewhite;
  height: 100%;
  padding: 1em;
}
body #workArea #sortResults {
  position: absolute;
  top: 4em;
  left: 2em;
  display: grid;
  grid-template-columns: 140px 240px;
}
body #workArea #sortResults > * {
  margin: 0.5em 0;
}
body #workArea #sortResults h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 0.2em;
}
body #workArea #sortResults h4 {
  text-align: right;
  font-size: 1em;
  font-weight: 500;
  padding-right: 30px;
}
body #workArea #sortResults h5 {
  font-size: 1em;
  font-weight: 200;
}
body #workArea #sortResults ul {
  padding-left: 1em;
}
body #workArea #sortResults ul li {
  margin-bottom: 0.6em;
}
body #workArea #sortResults ul li .compTitle {
  font-weight: 500;
}
body #workArea #sortResults ul li .compRef {
  font-weight: 200;
}
body #workArea h1 {
  font-size: 1.6em;
  margin: 0;
}
body #workArea #deckStart {
  position: relative;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}
body #workArea #deckStart #UCF_deck {
  position: absolute;
  top: -200px;
  left: -200px;
}
body #workArea #deckStart #UCF_deck .factorCard {
  z-index: 1;
}
body #workArea #deckStart #UCF_deck #UCF_SortCards.startHidden, body #workArea #deckStart #UCF_deck #UCF_CompCards.startHidden {
  display: none;
}
body #workArea #deckStart #UCF_deck .initalSize {
  opacity: 1;
  transition: opacity 1s;
  animation: 0.7s ease-in-out 0s 1 normal forwards resize;
}
body #workArea #deckStart #UCF_deck .initalSize + svg {
  opacity: 1;
  transform: scale(1);
}
body #workArea #deckStart #UCF_deck .nextStep {
  opacity: 0;
}
body #workArea #deckStart #UCF_deck .nextStep + svg {
  transform: scale(0.3);
  opacity: 0;
}
body #workArea #deckStart svg#sortChoose {
  z-index: -1;
  transform: scale(0.3);
  transition: all 0.7s;
  opacity: 0;
}
body #workArea #deckStart svg#sortChoose .sortTypeHead {
  font-size: 2em;
  text-anchor: middle;
}
body #workArea #deckStart svg#sortChoose .sortTypeLable {
  font-size: 1.6em;
}
body #workArea #UCF {
  opacity: 0;
  animation: 0.85s cubic-bezier(0.13, 0.68, 0.33, 1) 0.1s 1 normal forwards intro;
}
body #workArea .cardBlock {
  transition: all 0.6s;
  width: 218px;
  height: 122px;
  position: absolute;
  top: 139px;
  right: 91px;
}
body #workArea .cardBlock#UCF button {
  position: absolute;
  bottom: 2em;
}
body #workArea .cardBlock.sortCard, body #workArea .cardBlock.factorCard, body #workArea .cardBlock.dimentionCard {
  border: 1px solid #000;
  border-radius: 3px;
}
body #workArea .cardBlock.sortCard .factorColfill {
  background: #aaa;
}
body #workArea .cardBlock.sortCard .factorColfill .text_1, body #workArea .cardBlock.sortCard .factorColfill .text_2 {
  text-align: center;
}
body #workArea .cardBlock.sortCard .factorColfill .text_1 {
  margin: 3em 0 0;
}
body #workArea .cardBlock.sortCard .factorColfill .text_2 {
  margin: 2.4em 0 0;
}
body #workArea .cardBlock.sortCard .factorColfill .vals {
  display: flex;
  justify-content: center;
  width: 100%;
  left: -8px;
}
body #workArea .cardBlock.sortCard .factorColfill .vals > * {
  margin: 0.6em 0;
  padding: 0 0.4em;
}
body #workArea .cardBlock.sortCard .conjunc {
  display: none;
  width: 10px;
  padding: 0;
  font-weight: 200;
}
body #workArea .cardBlock.sortCard .reciver {
  padding: 0;
  margin: 0;
  position: relative;
  width: 218px;
  height: 100%;
  background: transparent;
}
body #workArea .cardBlock.sortCard .reciver .cardBlock {
  padding: 0;
  margin: 0;
  position: relative;
  top: 122px;
  left: -1px;
}
body #workArea .cardBlock.factorCard .factorColfill, body #workArea .cardBlock.sortCard .factorColfill {
  height: 122px;
}
body #workArea .cardBlock.factorCard > .cardBodyText, body #workArea .cardBlock.sortCard > .cardBodyText {
  top: 1.5em;
  color: #fff;
  height: 94px;
}
body #workArea .cardBlock.factorCard footer, body #workArea .cardBlock.sortCard footer {
  bottom: 0;
}
body #workArea .cardBlock.dimentionCard .factorColfill {
  height: 1.8em;
}
body #workArea .cardBlock.dimentionCard .cardBodyText {
  background: #fff;
  top: 1.8em;
  height: 93px;
}
body #workArea .cardBlock.dimentionCard footer {
  bottom: 4px;
}
body #workArea .cardBlock div {
  position: absolute;
}
body #workArea .cardBlock div .title {
  font-size: 0.8em;
  margin: 0.6em 0;
}
body #workArea .cardBlock div > * {
  padding: 0 0.6em;
}
body #workArea .cardBlock div.factorColfill {
  width: 100%;
}
body #workArea .cardBlock div.factorColfill h3 {
  color: #fff;
  font-size: 0.7em;
}
body #workArea .cardBlock div.cardBodyText p.description {
  margin: 0.6em 0;
  font-size: 0.6em;
}
body #workArea .cardBlock div.cardBodyText footer {
  position: absolute;
  width: 206px;
  display: flex;
  justify-content: space-between;
  height: 2em;
  font-size: 0.6em;
}
body #workArea .cardBlock div.cardBodyText footer p.index {
  width: 14px;
}
body #workArea .cardBlock div.cardBodyText footer p.cardRef {
  width: 14px;
  text-align: right;
}
body #workArea .cardBlock div.cardBodyText footer p.sortType {
  width: 200px;
  text-align: center;
}
body #workArea #dropZones artical {
  width: 218px;
  height: 122px;
  border: 1px solid #000;
}
body #workArea #dropZones #sortArea artical {
  position: absolute;
  top: 200px;
}
body #workArea #dropZones #sortArea #sa1 {
  left: 218px;
}
body #workArea #dropZones #sortArea #sa2 {
  left: 436px;
}
body #workArea #dropZones #sortArea #sa3 {
  left: 654px;
}
body #workArea #dropZones #cardArea {
  position: absolute;
  top: 400px;
}
body #workArea #dropZones #cardArea artical {
  float: left;
}

/*# sourceMappingURL=default.css.map */
