$cardWidth: 218px;
$cardHeight: 122px;
$gridGap: 16px;

@keyframes intro {
        
        from {transform: rotate(20deg) scale(4); top: 1200px; opacity: 1; }
        to {transform: rotate(0) scale(1.5); top: -$cardHeight/2 + 200px; opacity: 1; }
    }
    
    @keyframes resize {
        from {transform: scale(1.5);}
        to {transform: scale(1);}
    }
    @keyframes resizeSVG {
        from {transform: scale(0.3); opacity: 1;}
        to {transform: scale(1); opacity: 1;}
    }

body {
    height: 100%;
    
    font-family: sans-serif;
    #cardTemplates {
        display: none;

    }
    
    
    #workArea{
        position: absolute;
        top: 0;
        right:  0;
        left: 0;
        background-color:antiquewhite;
        height: 100%;
        padding: 1em;
        
        #sortResults{
            position: absolute;
            top: 4em;
            left:2em;
            display: grid;
            grid-template-columns: 140px 240px;
            
            > *{
                margin: 0.5em 0;
            }
            
            h3{
                grid-column-start: 1;
                grid-column-end: 3;
                margin-bottom: 0.2em;
            }
            h4{
                text-align: right;
                font-size: 1em;
                font-weight: 500;
                padding-right: 30px;
            }
            h5{
                font-size: 1em;
                font-weight: 200;
            }
            ul{
                padding-left: 1em;
                li{
                    margin-bottom: 0.6em;
                    .compTitle{
                        font-weight: 500;
                        
                    }
                    .compRef{
                        font-weight: 200;
                    }
                }
            }
        }
        
        h1{
            font-size: 1.6em;
            margin: 0;    
        }  
        
        #deckStart{
            position: relative;
            width: 0;//$cardWidth
            height: 0;//$cardHeight;
            top: 50%;
            left: 50%;
            
            #UCF{
                
            }

            #UCF_deck{
                position: absolute;
                top: -200px;
                left:-200px;
//                width: 0;
//                height: 0;
                
                .factorCard{
                    z-index: 1;
                }
                
                #UCF_SortCards, #UCF_CompCards{
                    &.startHidden{
                         display: none;
                    }
                }
                .initalSize{
                opacity: 1;
                    transition: opacity 1s;
                animation: 0.7s ease-in-out 0s 1 normal forwards resize;
                    & + svg{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                .nextStep{
                    opacity: 0;
                    & + svg{
                        transform: scale(0.3);
                        opacity: 0;
                    }
                }
            }
            
            svg#sortChoose{
                z-index: -1;
                transform: scale(0.3);
                transition: all 0.7s;
                opacity:0;
                .sortTypeHead{
                    font-size: 2em;
                    text-anchor: middle;
                }
                .sortTypeLable{
                    font-size: 1.6em;
                }
            }
        }
        #UCF{
//          The Opacity set to zero Intatly to aviod the uformated flash
            opacity: 0;
            animation: 0.85s cubic-bezier(.13,.68,.33,1) 0.1s 1 normal forwards intro;
        }
        
         svg.initalSize{
//                    animation: 0.7s ease-in-out 0s 1 normal forwards resizeSVG;
                }
        
        .cardBlock {
            transition: all 0.6s;
            width: $cardWidth;
            height: $cardHeight;
            position: absolute;
            top: -$cardHeight/2 + 200px;
            right: -$cardWidth/2 + 200px;
            
            &#UCF{
                button{
                    position: absolute;
                    bottom: 2em;
                }
            }
            &.sortCard, &.factorCard, &.dimentionCard{
                border: 1px solid #000; 
                border-radius: 3px;
            }

            // HTML Card css test
            
            &.sortCard{
                .factorColfill{
                    background: #aaa;
                    
                    .text_1, .text_2{
                        text-align: center;
                       
                    }
                    .text_1{
                         margin: 3em 0 0; 
                    }
                    .text_2{
                         margin: 2.4em 0 0; 
                    }
                    .vals{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        left: -$gridGap/2;
                        
                        > *{
                            //flex-basis: auto;
                            margin: 0.6em 0;
                            padding: 0 0.4em;
                        }
                    }
                }
                 .conjunc{
                    display: none;
                     width: 10px;
                     padding: 0;
                     //flex-basis: 0;
                     font-weight: 200;
                }
                .reciver{
                     padding: 0;
                    margin: 0;
                        position: relative;
                        width: $cardWidth;
                        height: 100%;
                        background: transparent;
                .cardBlock{
                    padding: 0;
                    margin: 0;
                    position: relative;

                    top:  $cardHeight;
                    left: -1px;
                    }
                }

            }
            
            &.factorCard, &.sortCard{
                .factorColfill{
                    height: $cardHeight;
                }
                
                >.cardBodyText{
                    top: 1.5em;
                    color: #fff;
                    height: $cardHeight - 28px;
                }
                footer {
                     bottom: 0;
                }
            }
            
            &.dimentionCard{
                .factorColfill{
                    height: 1.8em;
                }
               .cardBodyText{
                   background: #fff;
                   top: 1.8em;
                   height: $cardHeight - 29px;
                }
                  footer {
                     bottom: 4px;
                }
            }
            
            div{
                position: absolute;
                .title {
                    font-size: 0.8em;
                    margin: 0.6em 0;
                }
                
                >*{
                    padding: 0 0.6em;
                }
                
                &.factorColfill{
                    width: 100%;
                    h3{
                        color: #fff;
                        font-size: 0.7em
                    }
                }
                &.cardBodyText{
                    
                    p.description{
                        margin: 0.6em 0;
                        font-size: 0.6em;
                    }
                    footer{
                        position: absolute;
                        width: $cardWidth - 12px;
                        display: flex;
                        justify-content:space-between;
                        height: 2em;
                        font-size: 0.6em;
                        p.index{width: 14px; }
                        p.cardRef{ width: 14px; text-align: right;}
                        p.sortType{ width: 200px; text-align: center;}
                    }
                    
                }
            }
            
            
        }
        
        #dropZones {
            
            artical {
                width: $cardWidth;
                height: $cardHeight;
                border: 1px solid #000; 
            }
            #sortArea{
                artical {
                    position: absolute;
                    top: 200px;
                }
                #sa1{
                     left: $cardWidth;
                }
                #sa2{
                     left: $cardWidth * 2;
                }
                #sa3{
                     left: $cardWidth * 3;
                }
            }
            #cardArea{
                position: absolute;
                top: 400px;
                artical {
                    float:left;
                }
            }    
        }
    }
}